@font-face {
    font-family: Bangers;
    src: url(/src/assets/fonts/Bangers-Regular.ttf);
}
@font-face {
    font-family: SC;
    src: url(/src/assets/fonts/AntonSC-Regular.ttf);
}
@font-face {
    font-family: Passion;
    src: url(/src/assets/fonts/PassionOne-Regular.ttf);
}
@font-face {
    font-family: Lond;
    src: url(/src/assets/fonts/LondrinaSolid-Regular.ttf);
}