/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Bangers;
    src: url(/assets/fonts/Bangers-Regular.ttf);
}
@font-face {
    font-family: SC;
    src: url(/assets/fonts/AntonSC-Regular.ttf);
}
@font-face {
    font-family: Passion;
    src: url(/assets/fonts/PassionOne-Regular.ttf);
}
@font-face {
    font-family: Lond;
    src: url(/assets/fonts/LondrinaSolid-Regular.ttf);
}
body{
    overflow-y: scroll;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #fff;
}